.body
{
margin: 0;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
font-family: "Mulish", sans-serif;
font-size: 16px;

}
:root 
{
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
}
:root 
{
scroll-behavior: smooth;
}
*, ::after, ::before 
{
    box-sizing: border-box;
}
html
{
display: block;

}
.page-banner-area
{
    padding-top: 80px;
    padding-bottom: 80px;
}
.page-banner-area 
{
    background-image: url(images/page-banner-bg-1.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 110px;
    position: relative;
    z-index: 1;
}

.page-banner-content 
{
    text-align: center;
}
.page-banner-content h2 {
    color: #192e3f;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 500;
}
.page-banner-content h3 {
    color: #192e3f;
    margin-bottom: 20px;
    font-weight: 300;
}
.page-banner-content p {
    color: white;
    margin-bottom: 20px;
    font-size: 20px;
}
.page-banner-content .pages-list 
{
    text-align: center;
    padding-left: 0;
    margin-bottom: 0;
}
a 
{
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
    -webkit-transition: 0.6s;
    transition-duration: 0.6s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
    transition: 0.6s;
    transition-duration: 0.6s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
    color:rgb(126, 110, 24);
    display: inline-block;
}

a:-webkit-any-link 
{
    color:white;
    margin-left: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}
a:hover 
{
    color:rgb(126, 110, 24);
  }
a:active 
{
    color:rgb(126, 110, 24);
}
li 
{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
p
{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
dl, ol, ul 
{
    margin-top: 0;
    margin-bottom: 1rem;
}
ul 
{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
div 
{
    display: block;
}

    .ptb-100 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .pt-100 {
        padding-top: 50px;
    }
    .pb-100 {
        padding-bottom: 50px;
    }
    .pb-70 {
        padding-bottom: 0px;
    }

.section-title 
{
    margin: 0 auto 35px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 35px;
    margin-left: auto;
    text-align: center;
    max-width:100%;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl 
{
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}

.but
{
    position: relative;
    background-color: #192e3f;
    border: none;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
    margin-top: 20px;
    width: 140px;
    height: 60px;
    border-radius: 15px;
}
.but:after {
    content: "";
    background: #4882b1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .but:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
